a {
  text-decoration: none;
  color: white;
}
.demo-card-wide.mdl-card {
  width: 512px;
  margin: 35px;
}
.demo-card-wide > .mdl-card__title {
  color: #000;
  height: 176px;
  background: url('./assets/Inventory.png') center / cover;
}
.demo-card-wide > .avatar {

  background: url('./assets/header_image.jpg') center / cover;
}
.demo-card-wide > .orders {
  background: url('./assets/orders.jpg') center / cover;
}
.demo-card-wide > .horoscope {
  background: url('./assets/horoscope.jpg') center / cover;
}
.demo-card-wide > .qrcode {
  background: url('./assets/qrcode.png') center / cover;
}
.demo-card-wide > .products {
  background: url('./assets/products.png') center / cover;
}
.avatar_wrapper {
  display: flex;
  justify-content: center;
}

.avatar_picture {
  width: 35%;
  border-radius: 50%;
}

.demo-card-wide > .mdl-card__menu {
  color: #000;
}



.components_wrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.demo-layout-transparent {
  background: url('./assets/header_image.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}


/**********Sign In*********/

.login_main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
}
.signedin-text:hover {
text-decoration: underline;
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}




.loginBtn--google {
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

/* End Sign In Button*/

/*********QR code generator*********/
   .generate-qr-main-wrapper{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   } 
   .radio-wrapper {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
   }
   #generate-qr-wrapper {
     margin-bottom: 50px;
     margin-top: 150px;
   }
   .mdl-button--fab {
     margin: 0 10px;
   }

   /**********Product Component**********/
   .product-component-main-container{
     margin:30px;
    /* background-color: #d8cbcb;
    width: 30%; */
   }
   .demo-card-image.mdl-card {
    width: 256px;
    height: 256px;
  }
  .demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
  }
  .demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
  .product-container {
    margin: 35px 0;
    box-shadow: 9px 12px 19px #88888F;
    width:95%;
    margin:auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    

  }

  /************Products Page **************/
  .products-page-wrapper{
    
  }
  .products-page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    margin-top: 30px;
    box-shadow: 9px 12px 19px #88888F;
    width: 92%;
    margin: auto;
    margin-top: 30px;
  }
  .product-des-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  .details-button-a{
    align-items: center !important;
    display: flex !important;
  }
  .details-button{
    display: flex !important;
    margin-right: 20px !important;
    align-items: center !important;
  }
  .product-des-container > h6 {
    max-width: 130px;
    width:25%;
    margin: auto 0px;
  }
/***************Inventory Page************/
.product_info_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.chart-comp-container > canvas {
    height: 550px !important;
    width: 1100px !important;
  
}

.chart-comp-container{
  display: flex;
  justify-content: center;
}
.product-card {
  min-height: 130px !important;
  min-width: 130px !important;
  height: 130px !important;
  width: 130px !important;

}

.mdl-layout__drawer-button {
  position: fixed !important;
}
.back-button {
  opacity: 0.5;
}
.back-button:hover {
  opacity: 1;
}