
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #000;
  height: 176px;
  background: url('./assets/Inventory.png') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #000;
}


.components_wrapper {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
}